DB_HOST=caboose.proxy.rlwy.net
DB_PORT=34262
DB_USERNAME=root
DB_PASSWORD=zzmYaGBphtVVgRNHMambvVaIhGhwDEpB
DB_NAME=railway


MAIL_USERNAME=onlinebookapi@gmail.com
MAIL_USERPASSWORD=gccp eyxi tgph uagr

JWT_SECRET=74YLbq4%c!wU
JWT_EXPIRATION_TIME=1800

AWS_ACCESS_KEY_ID=AKIA2UC3B73SY5QCF4DK
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=eu-west-1
AWS_BUCKET_NAME=my-uploadfilebucket

KAFKA_BROKER=kafka:9093
KAFKA_CONSUMER_GROUP=group

REDIS_HOST=redis-16179.c247.eu-west-1-1.ec2.redns.redis-cloud.com
REDIS_PORT=16179
REDIS_PASSWORD=mQqsNWiECHbsJX6JwNn81yydzdXsQCY2
REDIS_USERNAME=default
