############## Reactjs ################
src/infra/client-react/node_modules

# Logs
src/infra/client-react/logs
src/infra/client-react/*.log
src/infra/client-react/npm-debug.log*
src/infra/client-react/yarn-debug.log*
src/infra/client-react/yarn-error.log*
src/infra/client-react/pnpm-debug.log*
src/infra/client-react/lerna-debug.log*

src/infra/client-react/node_modules
src/infra/client-react/dist
src/infra/client-react/dist-ssr
src/infra/client-react/*.local

# Editor directories and files
src/infra/client-react/.vscode/*
src/infra/client-react/!.vscode/extensions.json
src/infra/client-react/.idea
src/infra/client-react/.DS_Store
src/infra/client-react/*.suo
src/infra/client-react/*.ntvs*
src/infra/client-react/*.njsproj
src/infra/client-react/*.sln
src/infra/client-react/*.sw?



############### Nestjs #################
src/infra/nest/dist
src/infra/nest/node_modules

# Logs
src/infra/nest/logs
src/infra/nest/*.log
src/infra/nest/npm-debug.log*
src/infra/nest/pnpm-debug.log*
src/infra/nest/yarn-debug.log*
src/infra/nest/yarn-error.log*
src/infra/nest/lerna-debug.log*

# OS
src/infra/nest/.DS_Store

# Tests
src/infra/nest/coverage
src/infra/nest/.nyc_output

# IDEs and editors
src/infra/nest/.idea
src/infra/nest/.project
src/infra/nest/.classpath
src/infra/nest/.c9/
src/infra/nest/*.launch
src/infra/nest/.settings/
src/infra/nest/*.sublime-workspace

# IDE - VSCode
src/infra/nest/.vscode/*
src/infra/nest/!.vscode/settings.json
src/infra/nest/!.vscode/tasks.json
src/infra/nest/!.vscode/launch.json
src/infra/nest/!.vscode/extensions.json
