############## Reactjs ################
apps/client-react/node_modules

# Logs
apps/client-react/logs
apps/client-react/*.log
apps/client-react/npm-debug.log*
apps/client-react/yarn-debug.log*
apps/client-react/yarn-error.log*
apps/client-react/pnpm-debug.log*
apps/client-react/lerna-debug.log*

apps/client-react/node_modules
apps/client-react/dist
apps/client-react/dist-ssr
apps/client-react/*.local

# Editor directories and files
apps/client-react/.vscode/*
apps/client-react/!.vscode/extensions.json
apps/client-react/.idea
apps/client-react/.DS_Store
apps/client-react/*.suo
apps/client-react/*.ntvs*
apps/client-react/*.njsproj
apps/client-react/*.sln
apps/client-react/*.sw?



############### Nestjs #################
apps/nest/dist
apps/nest/node_modules

# Logs
apps/nest/logs
apps/nest/*.log
apps/nest/npm-debug.log*
apps/nest/pnpm-debug.log*
apps/nest/yarn-debug.log*
apps/nest/yarn-error.log*
apps/nest/lerna-debug.log*

# OS
apps/nest/.DS_Store

# Tests
apps/nest/coverage
apps/nest/.nyc_output

# IDEs and editors
apps/nest/.idea
apps/nest/.project
apps/nest/.classpath
apps/nest/.c9/
apps/nest/*.launch
apps/nest/.settings/
apps/nest/*.sublime-workspace

# IDE - VSCode
apps/nest/.vscode/*
apps/nest/.env
apps/nest/!.vscode/settings.json
apps/nest/!.vscode/tasks.json
apps/nest/!.vscode/launch.json
apps/nest/!.vscode/extensions.json


############### Lambda #################

apps/Lambda/*.js
apps/Lambda/!jest.config.js
apps/Lambda/*.d.ts
apps/Lambda/node_modules

# CDK asset staging directory
apps/Lambda/.cdk.staging
apps/Lambda/cdk.out

apps/Lambda/*.txt

.env.docker

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

*.txt


dist/main.js.map
dist/tsconfig.build.tsbuildinfo
src/main.ts
.env
